{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog !</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur doloribus error adipisci aliquam culpa expedita nulla totam architecto numquam consectetur. Quas quasi unde eligendi quidem sapiente dolore repellat? Aliquam eligendi quos illo neque voluptatum soluta consequuntur amet fugit vitae minima.</p>
<p>Atque, neque assumenda adipisci veniam cum quisquam consequatur eligendi amet, esse dolor officiis officia tenetur fugit vitae! Dolore, voluptates. Atque ipsa illum dicta soluta ex, veritatis impedit aut quam vero blanditiis modi. Accusamus expedita aliquid magni praesentium ut vel quas!</p>

{% endblock %}